/* For iPhone 6+++ landscape mode: */
body {
    background-color: #ececec;
}
#simulator {
    width: 100%;
    background-color: #ececec;
}
#data {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}
div#data h2 {}
div#data .column {
    width: 100px;
    display: inline-block;
    padding-right: 20px;
}
div#data span.label {
    width: 100px;
}
div#data select {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 15px;
}
div#data button {
    width: 100px;
    margin-bottom: 15px;
}
/* #data bottom columns */
div#data .column-lg {}
div#data .column-lg button {
    width: 225px;
}

/* Job Pool */
#job-pool {
    width: 100%;
    padding-bottom: 20px;
}
div#job-pool table {
    border-collapse: collapse;
}
div#job-pool table tr {}
div#job-pool table tr th {
    border-bottom: 1px solid #5d5d5d;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    padding-right: 4px;
    padding-left: 4px;
}
div#job-pool table tr td {
    border-bottom: 1px solid #5d5d5d;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
}

/* CPU */
#cpu {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
div#cpu .cpu-col {
    width: 100px;
    display: inline-block;
    padding-right: 10px;
    text-align: center;
}
div#cpu span {}
div#cpu h3 {
    text-align: center;
}

/* Ready Queue */
#ready-queue {
    width: 100%;
}
div#ready-queue div.ready-bars {
    height: 80px;
    margin-top: 30px;
}
span.ready-bar {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 17px;
    border-right: 2px solid black;
}
/* Average wait and turnaround times */
#wait-turnarounds {
    width: 300px;
}
div#wait-turnarounds div.col {
    display: inline-block;
    padding-right: 40px;
    width: 100px;
    text-align: center;
}
div#wait-turnarounds span {}
div#wait-turnarounds h3 {}

/* Gantt Chart */
#live-chart {
    height: 130px;
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 65px;
}
div#live-chart span.ready-bar {}

/* Footer */
#footer {
    background-color: #EAB533;
    border-top: 8px solid #DAA919;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    text-align: center;
}
#footer p {
    color: black;
    font-size: 14px;
    padding-top: 10px;
}
#footer p#personal {
    padding-top: 10px;
    font-weight: bold;
}
#footer a {
    color: black;
    text-decoration: none;
}
#footer a:hover {
    opacity: .5;
}
span.ready-bar.bar-0 {
    background-color: red;
}
span.ready-bar.bar-1 {
    background-color: gray;
}
span.ready-bar.bar-2 {
    background-color: black;
}
span.ready-bar.bar-3 {
    background-color: blue;
}
span.ready-bar.bar-4 {
    background-color: greenyellow;
}
span.ready-bar.bar-5 {
    background-color: brown;
}
span.ready-bar.bar-6 {
    background-color: yellow;
}
span.ready-bar.bar-7 {
    background-color: purple;
}
span.ready-bar.bar-8 {
    background-color: orange;
}
span.ready-bar.bar-9 {
    background-color: deeppink;
}
@media only screen and (min-width: 667px) {
    /* For iPhone 6+++ landscape mode: */
    #simulator {}
    #data {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 60px;
    }
    div#data h2 {}
    div#data .column {}
    div#data span.label {}
    div#data select {}
    div#data button {}
    /* #data bottom columns */
    div#data .column-lg {}
    div#data .column-lg button {
        width: 475px;
    }

    /* Job Pool */
    #job-pool {}
    div#job-pool table {}
    div#job-pool table tr {}
    div#job-pool table tr th {
        font-size: 18px;
    }
    div#job-pool table tr td {
        font-size: 18px;
    }

    /* CPU */
    #cpu {}
    div#cpu .cpu-col {}
    div#cpu span {}
    div#cpu h3 {}

    /* Ready Queue */
    #ready-queue {}
    div#ready-queue div.ready-bars {}
    span.ready-bar {}
    /* Average wait and turnaround times */
    #wait-turnarounds {}
    div#wait-turnarounds div.col {}
    div#wait-turnarounds span {}
    div#wait-turnarounds h3 {}

    /* Gantt Chart */
    #live-chart {}
    div#live-chart span.ready-bar {}

    /* Footer */
    #footer {}
    #footer p {}
    #footer p#personal {}
    #footer a {}
    #footer a:hover {}
}
@media only screen and (min-width: 768px) {
    /* For tablets: */
    #simulator {}
    #data {}
    div#data h2 {}
    div#data .column {}
    div#data span.label {}
    div#data select {}
    div#data button {}
    /* #data bottom columns */
    div#data .column-lg {}
    div#data .column-lg button {}

    /* Job Pool */
    #job-pool {}
    div#job-pool table {}
    div#job-pool table tr {}
    div#job-pool table tr th {}
    div#job-pool table tr td {}

    /* CPU */
    #cpu {}
    div#cpu .cpu-col {}
    div#cpu span {}
    div#cpu h3 {}

    /* Ready Queue */
    #ready-queue {}
    div#ready-queue div.ready-bars {}
    span.ready-bar {}
    /* Average wait and turnaround times */
    #wait-turnarounds {}
    div#wait-turnarounds div.col {}
    div#wait-turnarounds span {}
    div#wait-turnarounds h3 {}

    /* Gantt Chart */
    #live-chart {}
    div#live-chart span.ready-bar {}

    /* Footer */
    #footer {}
    #footer p {}
    #footer p#personal {}
    #footer a {}
    #footer a:hover {}
}
@media only screen and (min-width: 1024px) {
    /* iPad Pros:  */
    #simulator {}
    #data {
        margin-left: 0;
        margin-right: 0;
        display: inline-block;
        width: 400px;
    }
    div#data h2 {
        font-size: 32px;
    }
    div#data .column {
        font-size: 28px;
        width: 170px;
    }
    div#data span.label {}
    div#data select {
        font-size: 28px;
        width: 170px;
    }
    div#data button {
        font-size: 28px;
        width: 170px;
    }
    /* #data bottom columns */
    div#data .column-lg {}
    div#data .column-lg button {
        width: 365px;
    }

    /* Job Pool */
    #job-pool {
        width: 500px;
        display: inline-block;
        vertical-align: top;
        padding-top: 20px;
    }
    div#job-pool h2 {
        font-size: 32px;
    }
    div#job-pool table {}
    div#job-pool table tr {}
    div#job-pool table tr th {}
    div#job-pool table tr td {
        font-size: 28px;
    }

    /* CPU */
    #cpu {
        width: 410px;
        display: inline-block;
    }
    #cpu h2 {
        font-size: 32px;
    }
    div#cpu .cpu-col {
        width: 120px;
    }
    div#cpu span {
        font-size: 22px;
    }
    div#cpu h3 {
        font-size: 24px;
    }

    /* Ready Queue */
    #ready-queue {
        width: 600px;
        display: inline-block;
        vertical-align: top;
        padding-top: 20px;
    }
    #ready-queue h2 {
        font-size: 32px;
    }
    div#ready-queue div.ready-bars {
        padding-top: 30px;
    }
    span.ready-bar {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 28px;
    }
    /* Average wait and turnaround times */
    #wait-turnarounds {
        width: 410px;
        display: inline-block;
        vertical-align: top;
    }
    #wait-turnarounds h2 {
        font-size: 32px;
    }
    div#wait-turnarounds div.col {}
    div#wait-turnarounds span {
        font-size: 22px;
    }
    div#wait-turnarounds h3 {
        font-size: 24px;
    }

    /* Gantt Chart */
    #live-chart {
        width: 500px;
        display: inline-block;
        height: 200px;
    }
    #live-chart h2 {
        font-size: 32px;
        padding-bottom: 20px;
    }
    div#live-chart span.ready-bar {}

    /* Footer */
    #footer {}
    #footer p {
        display: inline-block;
        float: left;
        font-size: 24px;
        margin-left: 20px;
        padding-top: 15px;
    }
    #footer p#personal {
        float: right;
        margin-right: 20px;
        padding-top: 15px;
    }
    #footer a {}
    #footer a:hover {}
}
@media only screen and (min-width: 1366px) {
    /* Desktop screens and iPad pro sideways: */
    #simulator {}
    #data {
        width: 700px;
    }
    div#data h2 {
        font-size: 26px;
    }
    div#data .column {
        width: 150px;
    }
    div#data span.label {
        font-size: 22px;
    }
    div#data select {
        font-size: 22px;
    }
    div#data button {
        font-size: 22px;
    }
    /* #data bottom columns */
    div#data .column-lg {}
    div#data .column-lg button {
        width: 695px;
    }

    /* Job Pool */
    #job-pool {}
    div#job-pool table {}
    div#job-pool table tr {}
    div#job-pool table tr th {
        font-size: 20px;
    }
    div#job-pool table tr td {
        font-size: 20px;
    }

    /* CPU */
    #cpu {}
    div#cpu .cpu-col {}
    div#cpu span {}
    div#cpu h3 {}

    /* Ready Queue */
    #ready-queue {}
    div#ready-queue div.ready-bars {}
    span.ready-bar {}
    /* Average wait and turnaround times */
    #wait-turnarounds {}
    div#wait-turnarounds div.col {}
    div#wait-turnarounds span {}
    div#wait-turnarounds h3 {}

    /* Gantt Chart */
    #live-chart {
        width: 900px;
    }
    div#live-chart span.ready-bar {}

    /* Footer */
    #footer {}
    #footer p {}
    #footer p#personal {}
    #footer a {}
    #footer a:hover {}
}
@media only screen and (min-width: 1500px) {
    /* Desktop screens 1500px - 1740px : */
    #simulator {}
    #data {}
    div#data h2 {}
    div#data .column {}
    div#data span.label {}
    div#data select {}
    div#data button {}
    /* #data bottom columns */
    div#data .column-lg {}
    div#data .column-lg button {}

    /* Job Pool */
    #job-pool {
        width: 700px;
    }
    div#job-pool table {}
    div#job-pool table tr {}
    div#job-pool table tr th {}
    div#job-pool table tr td {}

    /* CPU */
    #cpu {}
    div#cpu .cpu-col {}
    div#cpu span {}
    div#cpu h3 {}

    /* Ready Queue */
    #ready-queue {
        width: 940px;
    }
    div#ready-queue div.ready-bars {}
    span.ready-bar {}
    /* Average wait and turnaround times */
    #wait-turnarounds {}
    div#wait-turnarounds div.col {}
    div#wait-turnarounds span {}
    div#wait-turnarounds h3 {}

    /* Gantt Chart */
    #live-chart {
        width: 1050px;
    }
    div#live-chart span.ready-bar {}

    /* Footer */
    #footer {}
    #footer p {}
    #footer p#personal {}
    #footer a {}
    #footer a:hover {}
}
@media only screen and (min-width: 1740px) {
    /* Desktop screens: */
    #simulator {}
    #data {}
    div#data h2 {}
    div#data .column {}
    div#data span.label {}
    div#data select {}
    div#data button {}
    /* #data bottom columns */
    div#data .column-lg {}
    div#data .column-lg button {}

    /* Job Pool */
    #job-pool {}
    div#job-pool table {}
    div#job-pool table tr {}
    div#job-pool table tr th {}
    div#job-pool table tr td {}

    /* CPU */
    #cpu {}
    div#cpu .cpu-col {}
    div#cpu span {}
    div#cpu h3 {}

    /* Ready Queue */
    #ready-queue {}
    div#ready-queue div.ready-bars {}
    span.ready-bar {}
    /* Average wait and turnaround times */
    #wait-turnarounds {}
    div#wait-turnarounds div.col {}
    div#wait-turnarounds span {}
    div#wait-turnarounds h3 {}

    /* Gantt Chart */
    #live-chart {}
    div#live-chart span.ready-bar {}

    /* Footer */
    #footer {}
    #footer p {}
    #footer p#personal {}
    #footer a {}
    #footer a:hover {}
}
@media only screen and (min-width: 1800px) {
    /* Desktop screens (2000 over): */
    #simulator {}
    #data {
        padding-right: 100px;
    }
    div#data h2 {}
    div#data .column {}
    div#data span.label {}
    div#data select {}
    div#data button {}
    /* #data bottom columns */
    div#data .column-lg {}
    div#data .column-lg button {}

    /* Job Pool */
    #job-pool {
        width: 990px;
    }
    div#job-pool table {}
    div#job-pool table tr {}
    div#job-pool table tr th {}
    div#job-pool table tr td {}

    /* CPU */
    #cpu {}
    div#cpu .cpu-col {}
    div#cpu span {}
    div#cpu h3 {}

    /* Ready Queue */
    #ready-queue {
        width: 1380px;
    }
    div#ready-queue div.ready-bars {}
    span.ready-bar {}
    /* Average wait and turnaround times */
    #wait-turnarounds {}
    div#wait-turnarounds div.col {}
    div#wait-turnarounds span {}
    div#wait-turnarounds h3 {}

    /* Gantt Chart */
    #live-chart {
        width: 1380px;
    }
    div#live-chart span.ready-bar {}

    /* Footer */
    #footer {}
    #footer p {}
    #footer p#personal {}
    #footer a {}
    #footer a:hover {}
}
@media only screen and (min-width: 2500px) {
    /* Desktop screens (2500 over): */
    #simulator {}
    #data {}
    div#data h2 {}
    div#data .column {}
    div#data span.label {}
    div#data select {}
    div#data button {}
    /* #data bottom columns */
    div#data .column-lg {}
    div#data .column-lg button {}

    /* Job Pool */
    #job-pool {
        width: 1690px;
    }
    div#job-pool table {}
    div#job-pool table tr {}
    div#job-pool table tr th {}
    div#job-pool table tr td {}

    /* CPU */
    #cpu {}
    div#cpu .cpu-col {}
    div#cpu span {}
    div#cpu h3 {}

    /* Ready Queue */
    #ready-queue {}
    div#ready-queue div.ready-bars {}
    span.ready-bar {}
    /* Average wait and turnaround times */
    #wait-turnarounds {}
    div#wait-turnarounds div.col {}
    div#wait-turnarounds span {}
    div#wait-turnarounds h3 {}

    /* Gantt Chart */
    #live-chart {}
    div#live-chart span.ready-bar {}

    /* Footer */
    #footer {}
    #footer p {}
    #footer p#personal {}
    #footer a {}
    #footer a:hover {}
}
